.chatContainer {
  font-family: var(--font-mono);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.chatMessages {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0;
  margin-bottom: 16px;
  list-style: none;
}

@media (max-width: 800px) {
  .chatContainer {
    max-width: 100%;
    padding: 8px;
    margin: 0;
  }
}
